#meta,
#bash {
  position: relative;
  z-index: 1;
}

.pages.parking #spinner-1:before, 
.pages.parking #spinner-1:after {
  background: none !important;
}

iframe, video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

