body {
	background-color: black;
	color: #C0C5CE;
	font-family: "Pokemon GB";
}

canvas {
	display: block;
	/*background: transparent;*/
	/*background-color: #0C4177;*/
	position: absolute;
  top: 0;
  left: 0;
}

pre {
	font-family: "Pokemon GB";
	font-size: 8px;
	color: #C0C5CE;
	padding: 20px;
}

#settings {
	display: block;
	float: right;
	padding-right: 16px;
	font-size: 8px;
}

/** COLORS
C0C5CE	-	space gray
A3BE8C	-	grassy green
B05C65	- 	jean red
*/