.button {
  display: inline-block;
  font: normal 1.3rem "Open Sans";
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 12px;
  cursor: pointer;
  outline: none;
}

.button:active {
  position: relative;
  top: 1px;
  box-shadow: none !important;
}

.button.green {
  color: #eeeeee;
  background-color: #014421;
  border: 1px solid #012512;
  border-radius: 3px;
  box-shadow: 0 1px 0 #012512;
}

.button.green:hover,
.button.green:focus {
  color: #ffffff;
  background-color: #01381B;
}

.button.green:focus {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #01381B;
}

.button.maroon {
  color: #eeeeee;
  background-color: #570E0E;
  border: 1px solid #2F0707;
  border-radius: 3px;
  box-shadow: 0 1px 0 #2F0707;
}

.button.maroon:hover, 
.button.maroon:focus {
  color: #ffffff;
  background-color: #480C0C;
}

.button.maroon:focus {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #480C0C;
}