/*** LOCAL COMMONS ***/
body.developer #main-body,
body.developer .left,
body.developer .right,
body.developer section form input[type="text"],
body.developer section form input[type="password"],
body.developer #polls .content,
body.developer #polls .answers {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body.developer .left,
body.developer .right,
body.developer #polls .content {
  -webkit-transition: width 300ms ease;
  -moz-transition: width 300ms ease;
  -o-transition: width 300ms ease;
  -ms-transition: width 300ms ease;
  transition: width 300ms ease;
}

body.developer section .button,
body.developer .item {
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}



body.developer {
  background: #ffffff url("../images/background.png") center center no-repeat;
  background-size: cover;
}

body.developer #main-body {
  width: 95%;
  min-height: 100%;
  background-color: #222222;
  position: relative;
}

body.developer .left,
body.developer .right {
  width: 50%;
  position: absolute;
  top: 0;
  padding: 20px;
}

body.developer .left {
  left: 0;
  padding-right: 10px
}

body.developer .right {
  right: 0;
  padding-left: 10px;
}

body.developer .left.shrink {
  width: 35%;
}

body.developer .right.expand {
  width: 65%;
}

body.developer section {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
}

body.developer section:last-child {
  margin-bottom: 0;
}

body.developer section h3 {
  display: inline-block;
  font: normal 1.8rem "Open Sans Light", "OpenSansLight";
  text-transform: uppercase;
  margin-bottom: 10px;
}

body.developer section .button {
  float: right;
  font: normal 1.1rem "Open Sans", "OpenSansRegular";
  color: #ffffff;
  text-transform: uppercase;
  padding: 4px 10px;
  margin: 0;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
}

body.developer section .button.green {
  background-color: #258125;
}

body.developer section .button.green:hover,
body.developer section .button.green:focus {
  background-color: #2C9A2C;
}

body.developer section .button.red {
  background-color: #8C2B28;
}

body.developer section .button.red:hover,
body.developer section .button.red:focus {
  background-color: #A83330;
}

body.developer section form {
  margin-bottom: 10px;
}

body.developer section input[type="text"],
body.developer section input[type="password"] {
  float: left;
  width: 44%;
  font: normal 1.3rem "Consolas", "ConsolasRegular";
  padding: 5px;
  margin: 0;
  border: 1px solid #aaaaaa;
  margin-right: 1%;
  outline: none;
}

body.developer section input[type="text"]:focus,
body.developer section input[type="password"]:focus {
  border-color: #666666;
}

body.developer section form .button {
  width: 10%;
  padding: 6px 10px;
}

body.developer .item {
  padding: 7px 12px;
  background-color: #eeeeee;
  overflow: hidden;
}

body.developer .item:nth-of-type(even) {
  background-color: #e3e3e3;
}

body.developer .item label,
body.developer .item p {
  float: left;
  width: 45%;
  font: normal 1.5rem "Consolas", "ConsolasRegular";
  color: #333333;
  text-align: left;
}

body.developer .item.edit label,
body.developer .item.edit p {
  margin-top: 4px;
}

body.developer .item form {
  float: left;
  width: 45%;
  margin: 0;
}

body.developer .item input[type="text"],
body.developer .item input[type="password"] {
  width: 69%;
}

body.developer .item .button {
  float: none;
  width: 20%;
}

body.developer .item .actions {
  float: right;
  width: 10%;
  text-align: right;
  margin-top: 1px;
}

body.developer .item.edit .actions {
  margin-top: 5px;
}

body.developer .item .actions a {
  font: normal 1.1rem "Open Sans", "OpenSansRegular";
  color: #258125;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}

body.developer .item .actions a:hover,
body.developer .item .actions a:focus {
  color: #1EB01E;
}

body.developer #developers .item .actions {
  width: 50%;
}

body.developer #developers .item.edit .actions {
  width: 10%;
}

body.developer #polls {
  position: relative;
}

body.developer #polls .content {
  float: left;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

body.developer .right.expand #polls .content {
  width: 50%;
}

body.developer #polls .answers {
  float: right;
  width: 50%;
  margin-left: -1000px;
  padding-left: 10px;
}

body.developer #polls .answers .button {
  margin-bottom: 11px;
}

body.developer #polls .answers p {
  font: normal 1.5rem "Consolas", "ConsolasRegular";
  color: #333333;
  padding: 7px 12px;
  background-color: #eeeeee;
  overflow: hidden;
}

body.developer #polls .answers p:nth-of-type(even) {
  background-color: #e3e3e3;
}

body.developer #polls input[type="text"] {
  width: 89%;
}

body.developer #polls .item, 
body.developer #polls .item * {
  cursor: pointer;
}

body.developer #polls .item:hover {
  background-color: #ffffff;
}

body.developer #polls .item.selected {
  background-color: #CBEFCB;
}

body.developer #polls .item label {
  width: 88%;
}