.tile-wrapper,
.tile-wrapper h1,
.tile-wrapper .tile,
.tile-wrapper .tile .image,
.tile-wrapper .tile .information-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.tile-wrapper {
  width: 100%;
  margin-bottom: 20px;  
}

.tile-wrapper h1 {
  font-family: "open sans light";
  font-size: 2.5rem;
  color: white;
  background: #AA0000;
  padding: 1rem;  
  border-radius: 2px;  
}

.tile-wrapper .tile {
  width: 48%;
  min-height: 300px;
  border-radius: 3px;   
  vertical-align: top;
  background: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  display: inline-block; 
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.tile-wrapper .tile .image {
  width: 30%;
  height: 140px;
  display: block;
  margin: 0 auto;  
  background: #AAAAAA center center no-repeat;
  background-size: cover;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  border: 3px solid #CCCCCC;
}

.tile-wrapper .tile .image:after {
  content: "";  
}

.tile-wrapper .tile .information-container {
  width: 100%;
  padding: 10px;  
  margin-top: 10px;
  position: relative;
}

.tile-wrapper .tile .information-container:before {
  position: absolute;  
  content: "";
  width: 95%;
  top: -1px;  
  border-top: 1px solid #AA0000;  
}

.tile-wrapper .tile .information-container .field {
  width: 100%;
  margin-bottom: 7px;
}

.tile-wrapper .tile .information-container .field h2 {
  width: 30%;
  font-family: "open sans light";
  font-size: 1.4rem;  
  display: inline-block;
  vertical-align: top;
  margin-left: 1rem;
}

.tile-wrapper .tile .information-container .field p, .tile-wrapper .tile .information-container .field ul {
  width: 67%;  
  font-family: "open sans light";
  font-size: 1.5rem;
  display: inline-block;
  line-height: 1.7rem;
}

.tile-wrapper .tile .information-container .field li {
  margin-bottom: 5px;
}
