body.info .faculty-container {
  background: white;
  margin: 0px;
  padding: 0px;  
}

body.info .faculty-container .faculty-group {
  width: 100%;
  padding-bottom: 20px;  
}

body.info .faculty-container .tile-wrapper {
  padding-left: 9%;
  width: 100%;
}

body.info .faculty-container .faculty-group h1 {
  width: 99%;
  font-family: "Open Sans Light", "OpenSansLight";
  font-size: 2.5rem;
  color: white;
  /*background: #AA0000;*/
  background: #570E0E;
  padding: 1rem;    
  padding-left: 25px;
  /*border-radius: 2px;*/
  border-radius: 0px 1000px 1000px 0px;  
}

body.info .faculty-container .tile-wrapper .tile {
  width: 20%;
  min-height: 300px;
  border-radius: 3px;   
  vertical-align: top;
  background: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  display: inline-block; 
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

body.info .faculty-container .tile-wrapper .tile .image {
  width: 90%;
  height: 140px;
  display: block;
  margin: 0 auto;  
  background: #AAAAAA center center no-repeat;
  background-size: cover;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  border: 3px solid #CCCCCC;
}

body.info .faculty-container  .tile-wrapper .tile .information-container {
  width: 100%;
  padding: 10px;  
  margin-top: 10px;
  position: relative;
  border-top: 1px solid #AA0000;
}

/*body.info .faculty-container .tile-wrapper .tile .information-container:before {
  position: absolute;  
  content: "";
  width: 95%;
  top: -1px;  
  border-top: 1px solid #AA0000;  
}*/

body.info .faculty-container .tile-wrapper .tile .information-container .field {
  width: 100%;
  margin-bottom: 5px;
}

body.info .faculty-container .tile-wrapper .tile .information-container .field h2 {
  width: 30%;
  font-family: "Open Sans Light", "OpenSansLight";
  font-size: 1.4rem;  
  display: inline-block;
  vertical-align: top;
  margin-left: 1rem;
}

body.info .faculty-container .tile-wrapper .tile .information-container .field p, .tile-wrapper .tile .information-container .field ul {
  width: 100%;  
  font-family: "Open Sans Light", "OpenSansLight";
  font-size: 1.3rem;
  display: inline-block;
  line-height: 1.3rem;
}

body.info .faculty-container .tile-wrapper .tile .information-container .field li {
  margin-bottom: 1px;
}

/* academic_programs function*/
body.info .academic_programs {
  width: 100%;  
  background: white;
  min-height: 637px;
}

body.info .academic_programs .program {
  width: 100%;
  display: none;
}

body.info .academic_programs .program h1 {
  width: 99%;
  font-family: "Open Sans Light", "OpenSansLight";
  font-size: 2.5rem;
  color: white;
  background: #570E0E;
  padding: 1rem;
  padding-left: 25px;
  border-radius: 0px 1000px 1000px 0px; 
}

body.info .academic_programs .program .field {
  width: 100%;
  padding: 20px;
  padding-left: 40px;
}

body.info .academic_programs .program .field h2 {
  width: 97%;
  font-family: "Open Sans Light", "OpenSansLight";
  font-size: 2rem;
  border-bottom: 1px solid #570E0E;
  padding-bottom: 10px;
  color: #333333;
  font-weight: bold;
}

body.info .academic_programs .program .field p {
  width: 97%;
  font-family: "open sans";
  font-size: 1.25rem;
  line-height: 1.7rem;
  margin-top: 20px;
  text-indent: 30px;
  padding-left: 15px;
}

body.info .academic_programs .program .field ul {
  width: 97%;
  font-family: "open sans";
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: 20px;  
  margin-left: 30px;
  padding-left: 15px;
}

body.info .academic_programs .program .field ul.inner {
  margin-top: 5px;
}

body.info .academic_programs .program .field li {
  margin-top: 5px;
}

body.info .academic_programs #ms {
  display: none;
}

body.info .academic_programs #cte {
  display: none;
}

/* department function */
body.info .department {
  width: 100%;
}

body.info .department .about-department {
  width: 100%;    
  clear: both;
  margin-bottom: 10px;
}

body.info .department .about-department h1{
  width: 99%;
  font-family: "Open Sans Light", "OpenSansLight";
  font-size: 2.5rem;
  color: white;
  background: #570E0E;
  padding: 1rem;
  padding-left: 25px;
  border-radius: 0px 1000px 1000px 0px; 
}

body.info .department .about-department .content {
  width: 100%;    
  padding: 20px;
  padding-top: 0px;
  padding-left: 30px;
  clear: both;
}

body.info .department .about-department .content figure {
  width: 300px;
  float:left;  
  margin-right: 10px;
  clear: both;  
  background: #014421;
  padding: 2px;
  padding-bottom: 5px;
}
body.info .department .about-department .content figure img { 
  width: 100%; 
}

body.info .department .about-department .content figcaption {
  font-family: "open sans light";
  font-size: 1.3rem;  
  margin-top: 2px;
  color: #FFFFFF;
}

body.info .department .about-department .content .beside-text {
  width: 35%;
  display: inline;
  margin-left: 18px;
  vertical-align: top;
}

body.info .department .about-department .content p {
  width: 97%;
  font-family: "open sans";
  font-size: 1.25rem;
  line-height: 1.7rem;
  margin-top: 20px;
  text-indent: 30px;
  padding-left: 15px;
  list-style: decimal;
}

body.info .department .about-department .content ul, body.info .department .about-department .content ol {
  width: 97%;
  font-family: "open sans";
  font-size: 1.25rem;
  line-height: 1.7rem;
  margin-top: 20px;
  margin-left: 50px;
  padding-left: 30px;
  list-style: decimal;
}

body.info .department .about-department .content li {
  margin-bottom: 10px;
}

body.info .department .about-department .half {
  width: 49%;  
  display: inline-block;
  vertical-align: top;
}

body.info .department .about-department .half ol {
  margin-left: 5px;
}

body.info .department .about-department #mission {
  margin-left: 1%;  
}

body.info .department .field {
  margin: 0px auto;
  width: 55%;
  min-height: 20px;
  clear: both;
  display: block;
  padding: 5px;  
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

body.info .department .field:hover {
  background: #014421;
  border-radius: 1px;
  cursor: default;
  color: white;
}
body.info .department .field a {
  text-decoration: none;
  color: inherit;
}

body.info .department .field a:hover {
  cursor: pointer;
  text-decoration: underline;
}

body.info .department .heading {
  margin: 5px auto;
  width: 60%;
  min-height: 20px;
  clear: both;
  display: block;
  padding: 5px;
  padding-left: 20%;
  font-family: 'open sans light';
  font-size: 1.5rem;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}


body.info .department .field .title {
  width: 40%;
  height: 100%;
  display: inline-block;  
  padding-left: 10px;
  line-height: 20px;
  font-family: 'open sans light';
  font-size: 1.3rem;
  vertical-align: top;
}

body.info .department .field .value {
  width: 55%;
  height: 100%;
  display: inline-block;
  padding-left: 10px;
  line-height: 20px;
  font-family: 'open sans light';
  font-size: 1.5rem;
}

body.info h1 {
  font: normal 2.8rem/1 "Open Sans Light", "OpenSansLight";
  color: #570E0E;
}

body.info section {
  margin-top: 25px;
}

body.info section h2 {
  font: normal 2.2rem/1 "Open Sans Light", "OpenSansLight";
  color: #333333;
}

body.info section p {
  font: normal 1.4rem/1.4 "Open Sans", "OpenSansRegular";
  color: #333333;
  text-indent: 40px;
  margin-top: 10px;
}

body.info.research_lab_news .latest-news time {
  font: normal 1.4rem "Open Sans", "OpenSansRegular";
  color: #777777;
}

body.info.research_lab_news .latest-news p {
  font: normal 1.4rem/1.4 "Open Sans", "OpenSansRegular";
  color: #333333;
  text-indent: 40px;
  margin-top: 10px;
}

body.info.research_lab_news .latest-news p:first-of-type {
  margin-top: 25px;
}

body.info.research_lab_news .other-news {
  margin-top: 25px;
  background-color: #f7f7f7;
}

body.info.research_lab_news .other-news h2 {
  font: normal 1.4rem/1 "Open Sans", "OpenSansRegular";
  color: #333333;
  text-transform: uppercase;
  padding: 15px 25px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #dadada;
}

body.info.research_lab_news .other-news a {
  display: block;
  margin: 0;
  padding: 15px 25px 15px 22px;
  text-decoration: none;
  border-left: 3px solid transparent;
  position: relative;
}

body.info.research_lab_news .other-news a:nth-of-type(even) {
  background-color: #f3f3f3;
}

body.info.research_lab_news .other-news a:hover,
body.info.research_lab_news .other-news a:focus {
  border-left: 3px solid #014421;
}

body.info.research_lab_news .other-news a:hover:before,
body.info.research_lab_news .other-news a:focus:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-left: 8px solid #014421;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-top: -8px;
}

body.info.research_lab_news .other-news span {
  display: block;
  font: normal 1.6rem/1 "Open Sans Light", "OpenSansLight";
  color: #111111;
}

body.info.research_lab_news .other-news time {
  display: block;
  font: normal 1.2rem/1 "Open Sans", "OpenSansRegular";
  color: #555555;
  margin-top: 3px;
}

body.info.alumni_features #main-content h1 {
  margin-bottom: 28px;
}

body.info.alumni_features #main-content p {
  font: normal 1.4rem/1.4 "Open Sans", "OpenSansRegular";
  color: #333333;
  text-indent: 40px;
  margin-top: 10px;
}

body.info.industry_partners #main-content ul {
  margin-top: 30px;
}

body.info.industry_partners #main-content ul li {
  display: inline-block;
  width: 150px;
  height: 75px;
  background: center center no-repeat;
  background-size: contain;
  margin: 0 25px 25px 0;
}

body.info.industry_partners #main-content ul li[data-logo="google"] {
  background-image: url("../images/google.png");
}

body.info.industry_partners #main-content ul li[data-logo="facebook"] {
  background-image: url("../images/facebook.jpg");
}