body.info .faculty-container {
  background: white;
  margin: 0px;
  padding: 0px;  
}

body.info .faculty-container .faculty-group {
  width: 100%;
  padding-bottom: 20px;  
}

body.info .faculty-container .tile-wrapper {
  padding-left: 9%;
  width: 100%;
}

body.info .faculty-container .faculty-group h1 {
  width: 99%;
  font-family: "Open Sans Light", "OpenSansLight";
  font-size: 2.5rem;
  color: white;
  background: #AA0000;
  padding: 1rem;    
  padding-left: 25px;
  /*border-radius: 2px;*/
  border-radius: 0px 1000px 1000px 0px;  
}

body.info .faculty-container .tile-wrapper .tile {
  width: 20%;
  min-height: 300px;
  border-radius: 3px;   
  vertical-align: top;
  background: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  display: inline-block; 
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

body.info .faculty-container .tile-wrapper .tile .image {
  width: 90%;
  height: 140px;
  display: block;
  margin: 0 auto;  
  background: #AAAAAA center center no-repeat;
  background-size: cover;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  border: 3px solid #CCCCCC;
}

body.info .faculty-container  .tile-wrapper .tile .information-container {
  width: 100%;
  padding: 10px;  
  margin-top: 10px;
  position: relative;
  border-top: 1px solid #AA0000;
}

/*body.info .faculty-container .tile-wrapper .tile .information-container:before {
  position: absolute;  
  content: "";
  width: 95%;
  top: -1px;  
  border-top: 1px solid #AA0000;  
}*/

body.info .faculty-container .tile-wrapper .tile .information-container .field {
  width: 100%;
  margin-bottom: 5px;
}

body.info .faculty-container .tile-wrapper .tile .information-container .field h2 {
  width: 30%;
  font-family: "Open Sans Light", "OpenSansLight";
  font-size: 1.4rem;  
  display: inline-block;
  vertical-align: top;
  margin-left: 1rem;
}

body.info .faculty-container .tile-wrapper .tile .information-container .field p, .tile-wrapper .tile .information-container .field ul {
  width: 100%;  
  font-family: "Open Sans Light", "OpenSansLight";
  font-size: 1.3rem;
  display: inline-block;
  line-height: 1.3rem;
}

body.info .faculty-container .tile-wrapper .tile .information-container .field li {
  margin-bottom: 1px;
}

/* academic_programs function*/
body.info .academic_programs {
  width: 100%;  
  background: white;
  min-height: 637px;
}

body.info .academic_programs .program {
  width: 100%;
  display: none;
}

body.info .academic_programs .program h1 {
  width: 99%;
  font-family: "Open Sans Light", "OpenSansLight";
  font-size: 2.5rem;
  color: white;
  background: #AA0000;
  padding: 1rem;
  padding-left: 25px;
  border-radius: 0px 1000px 1000px 0px; 
}

body.info .academic_programs .program .field {
  width: 100%;
  padding: 20px;
  padding-left: 40px;
}

body.info .academic_programs .program .field h2 {
  width: 97%;
  font-family: "Open Sans Light", "OpenSansLight";
  font-size: 2rem;
  border-bottom: 1px solid #AA0000;
  padding-bottom: 10px;
  color: #333333;
  font-weight: bold;
}

body.info .academic_programs .program .field p {
  width: 97%;
  font-family: "open sans";
  font-size: 1.25rem;
  line-height: 1.7rem;
  margin-top: 20px;
  text-indent: 30px;
  padding-left: 15px;
}

body.info .academic_programs .program .field ul {
  width: 97%;
  font-family: "open sans";
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: 20px;  
  margin-left: 30px;
  padding-left: 15px;
}

body.info .academic_programs .program .field ul.inner {
  margin-top: 5px;
}

body.info .academic_programs .program .field li {
  margin-top: 5px;
}

body.info .academic_programs #ms {
  display: none;
}

body.info .academic_programs #cte {
  display: none;
}

/* department function */
body.info .department {
  width: 100%;
}

body.info .department .about-department {
  width: 100%;    
}

body.info .department .about-department h1{
  width: 99%;
  font-family: "Open Sans Light", "OpenSansLight";
  font-size: 2.5rem;
  color: white;
  background: #AA0000;
  padding: 1rem;
  padding-left: 25px;
  border-radius: 0px 1000px 1000px 0px; 
}

body.info .department .about-department .content {
  width: 100%;    
  padding: 20px;
  padding-top: 0px;
  padding-left: 30px;
}

body.info .department .about-department .content img {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

body.info .department .about-department .content .beside-text {
  width: 35%;
  display: inline;
  margin-left: 18px;
  vertical-align: top;
}

body.info .department .about-department .content p {
  width: 97%;
  font-family: "open sans";
  font-size: 1.25rem;
  line-height: 1.7rem;
  margin-top: 20px;
  text-indent: 30px;
  padding-left: 15px;
  list-style: decimal;
}

body.info .department .about-department .content .beside-image {
  width: 60%;  
  display: inline-block;
}

body.info .department .about-department .content ul, body.info .department .about-department .content ol {
  width: 97%;
  font-family: "open sans";
  font-size: 1.25rem;
  line-height: 1.7rem;
  margin-top: 20px;
  margin-left: 50px;
  padding-left: 30px;
  list-style: decimal;
}

body.info .department .about-department .content li {
  margin-bottom: 10px;
}

body.info .department .about-department .half {
  width: 49%;  
  display: inline-block;
  vertical-align: top;
}

body.info .department .about-department .half ol {
  margin-left: 5px;
}

body.info .department .about-department #mission {
  margin-left: 1%;  
}

body.info .field {
  margin: 5px auto;
  width: 70%;
  min-height: 20px;
  clear: both;
  display: block;  
}

body.info .field a {
  text-decoration: none;
  color: black;
}

body.info .heading {
  width: 100%;
  height: 100%;
  display: inline-block;   
  line-height: 20px;
  font-family: 'open sans light';
  font-size: 1.7rem;  
  padding-left: 100px;
}

body.info .field .title {
  width: 40%;
  height: 100%;
  display: inline-block;  
  padding-left: 10px;
  line-height: 20px;
  font-family: 'open sans light';
  font-size: 1.3rem;
  vertical-align: top;
}

body.info .field .value {
  width: 55%;
  height: 100%;
  display: inline-block;
  padding-left: 10px;
  line-height: 20px;
  font-family: 'open sans light';
  font-size: 1.5rem;
}

body.info h1 {
  font: normal 2.8rem/1 "Open Sans Light";
  color: #570E0E;
}

body.info section {
  margin-top: 25px;
}

body.info section h2 {
  font: normal 2.2rem/1 "Open Sans Light";
  color: #333333;
}

body.info section p {
  font: normal 1.4rem/1.4 "Open Sans";
  color: #333333;
  text-indent: 40px;
  margin-top: 10px;
}