/*** DEFAULT lAYOUT ***/
body {
  background: #ffffff url("../images/background.png") center center no-repeat fixed;
  background-size: cover;
}

#main-wrapper {
  min-height: 100%;
}

#main-content {
  float: left;
  width: 75%;
  height: 100%;
}

#main-sidebar {
  float: right;
  width: 25%;
  height: 100%;
  padding: 25px;
}