/*** DEFAULT lAYOUT ***/
#main-wrapper {
  min-height: 100%;
  padding-bottom: 40px;
  overflow: auto;
}

#main-content {
  float: left;
  width: 75%;
}

#main-sidebar {
  float: right;
  width: 25%;
}