body.news header h1 {
  display: inline-block;
}

body.news header .button {
  float: right;
}

body.news header h1,
body.news .news h1 {
  font: normal 2.8rem/1 "Open Sans Light", "OpenSansLight";
  color: #570E0E;
  padding-bottom: 20px;
}

body.news .news p {
  font: normal 1.4rem/1.4 "Open Sans", "OpenSansRegular";
  color: #333333;
  text-indent: 40px;
  margin-top: 10px;
}

.news.index .news-thread .news {
  float: left;
  width: 33.33%;
  height: 150px;
  padding: 0 0 2px 2px;
  background: center center no-repeat;
  background-size: cover;
  background-clip: content-box;
  position: relative;
  outline: none;
}

.news.index .news-thread .news:after {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  right: 0;
  bottom: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.news.index .news-thread .news .content {
  position: absolute;
  top: 10px;
  left: 2px;
  right: 0;
  bottom: 2px;
  z-index: 1;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: background-color 500ms ease;
}

.news.index .news-thread .news:hover .content,
.news.index .news-thread .news:focus .content {
  background-color: rgba(0, 0, 0, 0.92);
}

.news.index .news-thread .news p {
  font: normal 2rem "Open Sans Light";
  color: #ffffff;
  text-align: right;
  height: 85px;
  overflow: hidden;
}

.news.index .news-thread .news time {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font: normal 1.1rem "Open Sans Light";
  color: #ffffff;
  text-transform: uppercase;
}

.news.index .news-thread .news:first-of-type {
  height: 300px;
}

.news.index .news-thread .news:first-of-type .content {
  top: auto;
}

.news.index .news-thread .news:first-of-type p {
  height: auto;
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.news.show header {
  padding-bottom: 20px;
}

.news.show header h1 {
  padding: 0;
  margin-left: -2px;
}

.news.show header h2 {
  font: normal 1.6rem/1 "Open Sans", "OpenSansRegular";
  color: #333333;
  margin-top: 10px;
}

.news.show header time {
  font: normal 1.4rem/1 "Open Sans Light", "OpenSansLight";
  color: #555555;
}

.news.show .news img {
  float: left;
  max-width: 40%;
  margin: 10px 15px 0 0;
}

.news.make .news input[type="text"] {
  width: 100%;
}

.news.make .news textarea {
  width: 100%;
  height: 300px;
}

.news.make .news .actions {
  padding-left: 0;
}

.news.make .news input[type="submit"] {
  margin: 0;
}

.news.make .news .field label {
  width: auto;
  margin-right: 5px;
}

.news.make .news .field label span {
  color: #777777;
}