/*** PARKING PAGE ***/
.pages.parking {
  background: #ffffff url("../images/background.png") center center no-repeat fixed;
  background-size: cover;
  overflow: hidden;
}

.pages.parking #main-body {
  width: 95%;
  height: 100%;
  background-color: #222222;
  position: relative;
  overflow: hidden;
}

.pages.parking #meta {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.pages.parking #meta .loader {
  width: 240px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pages.parking #meta .loader h1 {
  font: normal 4rem/240px "Lato Hairline", "LatoHairline";
  color: #cccccc;
  text-align: center;
  text-indent: -5px;
}

.pages.parking #meta .loader p {
  width: 100%;
  position: absolute;
  top: 138px;
  font: normal 1.3rem "Consolas", "ConsolasRegular";
  color: #cccccc;
  text-align: center;
}

.pages.parking #meta .spinner {
  position: absolute;
  border: 1px dashed #cccccc;
  border-radius: 50%;
}

.pages.parking #meta .spinner.clockwise {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: none;
  border-right: none;
  -webkit-animation: rotate-clockwise 10s infinite linear;
  -moz-animation: rotate-clockwise 10s infinite linear;
  -o-animation: rotate-clockwise 10s infinite linear;
  -ms-animation: rotate-clockwise 10s infinite linear;
  animation: rotate-clockwise 10s infinite linear;
}

.pages.parking #meta .spinner.counterclockwise {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top: none;
  border-bottom: none;
  -webkit-animation: rotate-counterclockwise 3s infinite linear;
  -moz-animation: rotate-counterclockwise 3s infinite linear;
  -o-animation: rotate-counterclockwise 3s infinite linear;
  -ms-animation: rotate-counterclockwise 3s infinite linear;
  animation: rotate-counterclockwise 3s infinite linear;
}

.pages.parking #spinner-1:before, 
.pages.parking #spinner-1:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #222222;
  border: 1px dashed #cccccc;
  border-radius: 50%;
}

.pages.parking #spinner-1:before {
  top: 112px;
  left: -8px;
}

.pages.parking #spinner-1:after {
  top: 160px;
  left: 2px;
}

.pages.parking #spinner-2:before, 
.pages.parking #spinner-2:after {
  content: "";
  position: absolute;
  top: 106px;
  width: 50px;
  border-top: 1px dashed #cccccc;
}

.pages.parking #spinner-2:before {
  left: -32px;
}

.pages.parking #spinner-2:after {
  right: -32px;
}

.pages.parking #bash {
  width: 50%;
  height: 76%;
  position: absolute;
  top: 12%;
  right: 0;
  overflow: hidden;
}

.pages.parking #bash .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-right: 50px;
}

.pages.parking #bash .history p {
  font: normal 1.3rem "Consolas", "ConsolasRegular";
  color: #cccccc;
}

.pages.parking #bash .history p span.green {
  color: #349B34;
}

.pages.parking #bash .history p span.red {
  color: #A13936;
}

.pages.parking #bash .history p span.blue {
  color: #2E7688;
}

.pages.parking #bash .history p span.yellow {
  color: #9EA036;
}

.pages.parking #bash .input {
  position: relative;
}

.pages.parking #bash .input span {
  position: absolute;
  top: 0;
  left: 0;
  font: normal 1.3rem "Consolas", "ConsolasRegular";
  color: #2E7688;
}

.pages.parking #bash .command,
.pages.parking #bash .password {
  width: 100%;
  height: 13px;
  font: normal 1.3rem "Consolas", "ConsolasRegular";
  color: #cccccc;
  text-indent: 12px;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  resize: none;
}

.pages.parking #bash .password {
  height: 16px;
}



/*** HOME PAGE ***/
.pages.home {
  background: #ffffff url("../images/background-1.jpg") center center no-repeat fixed;
  background-size: cover;
}

.pages.home #main-content {
  padding: 25px;
  background-color: transparent;
}

#home-navigation {
  float: left;
  width: 225px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  padding: 50px 25px;
  margin: 25px;
}

#home-navigation > li {
  position: relative;
}

#home-navigation ul {
  display: none;
  position: absolute;
  top: 0;
  left: 201px;
  border-radius: 0 2px 2px 0;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  padding: 25px;
}

#home-navigation ul:before {
  content: "";
  position: absolute;
  top: 0;
  left: -26px;
  z-index: 1;
  width: 26px;
  height: 100%;
}

#home-navigation ul a {
  text-align: left;
}

#home-navigation a {
  display: block;
  font: normal 1.3rem/1 "Open Sans", "OpenSansRegular";
  color: #111111;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 10px 5px;
  outline: none;
}

#home-navigation a:hover,
#home-navigation a:focus,
#home-navigation > li:hover > a {
  color: #ffffff;
}

#home-navigation > li:hover > ul {
  display: block;
}

.pages.home aside {
  float: right;
  width: 25%;
  padding: 25px;
}

.pages.home aside section {
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
}

.pages.home aside section:first-of-type {
  margin-top: 0;
}

.pages.home aside h1 {
  font: bold 1.2rem/1 "Open Sans", "OpenSansRegular";
  color: #444444;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  margin-bottom: 12px;
}

#spotlight {
  background-color: rgba(255, 255, 255, 1);
}

#spotlight .image {
  float: left;
  width: 35%;
  height: 120px;
  background: #ffffff center center no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#spotlight .image:before,
#spotlight .image:after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: rotateZ(45deg);
}

#spotlight .image:before {
  top: -8px;
  left: -8px;
}

#spotlight .image:after {
  bottom: -8px;
  right: -8px;
}

#spotlight figcaption {
  float: right;
  width: 60%;
}

#spotlight h2 {
  font: normal 1.4rem/1 "Tahoma";
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 7px;
}

#spotlight p {
  font: normal 1.4rem/1.25 "Open Sans Light", "OpenSansLight";
  color: #222222;
}

#recent-news .news-thread {
  max-height: 116px;
  overflow: hidden;
}

#recent-news a {
  display: block;
  font: normal 1.5rem/1 "Open Sans Light", "OpenSansLight";
  color: #333333;
  text-decoration: none;
  padding: 7px 7px 7px 50px;
  overflow: hidden;
  outline: none;
  position: relative;
}

#recent-news a:before {
  content: attr(data-date);
  position: absolute;
  top: 9px;
  left: 7px;
  width: 43px;
  font: normal 1.1rem/1 "Open Sans Light", "OpenSansLight";
  color: #777777;
  text-transform: uppercase;
}

#recent-news a:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.5);
}

#recent-news a:hover:before,
#recent-news a:focus:before {
  color: #ffffff;
}

#recent-news a:hover,
#recent-news a:focus {
  color: #ffffff;
  background-color: #014421;
}

#upcoming-events .events-thread {
  max-height: 149px;
  overflow: hidden;
}