/*** HEADER PARTIAL ***/
#main-header {
  padding: 25px 0;
}

#main-header a {
  float: left;
  width: 20%;
  font: normal 2.4rem/1 "Open Sans Light";
  color: #333333;
  text-decoration: none;
}

#main-header a span {
  display: block;
  font-size: 1.6rem;
  margin-left: 16px;
}

#main-header nav {
  float: left;
  margin-top: -25px;
}

#main-header nav a {
  width: auto;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 36px 15px 15px 15px;
}

#main-header nav a:hover,
#main-header nav a:focus {
  color: #014421;
}

#main-header nav a.current {
  color: #ffffff;
  background-color: #014421;
}

#main-header .logos {
  float: right;
  margin-top: -25px;
}

#main-header .logos img {
  height: 50px;
  margin-top: 14px;
}



/*** SIDEBAR PARTIAL ***/
.expandable-menu {
  margin-top: 50px;
}

.expandable-menu li {
  position: relative;
}

.expandable-menu a,
.expandable-menu p {
  display: block;
  font: normal 1.3rem "Open Sans", "OpenSansRegular";
  color: #333333;
  text-decoration: none;
  padding: 4px 3px 4px 25px;
  cursor: pointer;
  position: relative;
}

.expandable-menu a:hover,
.expandable-menu a:focus,
.expandable-menu p:hover {
  background-color: #f5f5f5;
}

.expandable-menu a.current {
  color: #aa0000;
}

.expandable-menu p:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  border-left: 7px solid #333333;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.expandable-menu .expanded p:before {
  border-top: 7px solid #333333;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.expandable-menu ul {
  display: none;
  padding-left: 25px;
}



/*** FOOTER PARTIAL ***/
#footer-placeholder {
  height: 40px;
  clear: both;
}

#main-footer {
  height: 40px;
  margin-top: -40px;
  border-top: 1px solid #570E0E;
  background-color: #570E0E;
}

#main-footer nav {
  float: left;
  margin-top: 10px;
}

#main-footer nav a {
  display: inline-block;
  font: normal 1.3rem "Open Sans Light", "OpenSansLight";
  color: #eeeeee;
  text-decoration: none;
  margin-right: 10px;
}

#main-footer nav a:hover,
#main-footer nav a:focus {
  color: #8FE81A;
}

#main-footer .social-networks {
  float: right;
  margin-top: 8px;
}

#main-footer .social-networks a {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-indent: -1000px;
  overflow: hidden;
  margin-left: 2px;
  background: center center no-repeat;
  background-size: contain;
}

#main-footer .social-networks a.facebook {
  background-image: url("../images/facebook.png");
}

#main-footer .social-networks a.twitter {
  background-image: url("../images/twitter.png");
}