body.session #login {
  width: 500px;
  display: block;
  margin-top: 60px;
  position: absolute;  
  left: 50%;
  -webkit-transform: translateX(-50%);
  border: 
}

body.session #login form h1 {
  font-family: "open sans light","OpenSansLight";
  font-size: 2.8rem;
  text-align: center;
  padding: 15px;
  text-transform: capitalize;
  color: #570E0E;
}

body.session #login form input[type="submit"] {
  float: right;
  margin-right: 97px;
}

body.session #login form .field {
  width: 400px;
  margin: 0 auto;  
}
body.session #login form label {
  width: 100px;
}