#current-user {
  float: right;
  margin-top: 5px;
}

#current-user a {
  text-decoration: none;
}

#current-user .image {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  background: center center no-repeat;
  background-size: cover;
  border-radius: 50%;
}

#current-user .content {
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 5px;
}

#current-user h2 {
  font: normal 1.6rem/1 "Open Sans Light", "OpenSansLight";
  color: #333333;
}

#current-user p {
  font: normal 1.1rem/1 "Open Sans Light", "OpenSansLight";
  color: #555555;
  text-transform: uppercase;
}

#current-user:hover h2,
#current-user:focus h2 {
  color: #570E0E;
}

#current-user > div {
  position: relative;
  display: inline-block;
  width: 0;
  height: 40px;
  margin-left: 5px;
  background: url("../images/gear.png") center center no-repeat;
  background-size: 100% auto;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: width 200ms ease;
  -moz-transition: width 200ms ease;
  -o-transition: width 200ms ease;
  -ms-transition: width 200ms ease;
  transition: width 200ms ease;
}

#current-user > div:hover {
  border: 1px solid #777777 !important;
}

#current-user > div ul {
  display: none;
  position: absolute;
  top: 100%;
  right: -1px;
  padding: 5px 0;
  border: 1px solid #777777;
}

#current-user > div:hover ul {
  display: block;
}

#current-user > div ul:before {
  content: "";
  width: 23px;
  border-top: 1px solid #ffffff;
  position: absolute;
  top: -1px;
  right: 0;
}

#current-user > div ul li a {
  display: block;
  font: normal 1.2rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 5px 20px;
}

#current-user > div ul li a:hover,
#current-user > div ul li a:focus {
  background-color: #eeeeee;
}

#current-user:hover > div {
  width: 25px;
  border-left: 1px dashed #dddddd;
}

body.users .user-profile {
  margin: 0px;
  padding: 20px;
  background-size: cover;  
  width: 100%;
  min-height: 700px;   
  position: relative; 
}

body.users .user-profile .projects-container {
  width: 70%;
  min-height: 300px;
  display: inline-block;  
  clear:both;  
  position: relative;
  left: 1%;    
  vertical-align: top;  
}

body.users .user-profile aside {  
  min-height: 100px;  
  position: relative;
  left: 1%;
  width: 29%;
  clear: both;
  display: inline-block;  
  vertical-align: top;
}

body.users .user-profile aside section {
  width: 100%;  
  display: inline-block;
  position: relative;
  border-radius: 5px;
  border:1px solid #AAAAAA;
  box-shadow: 0px 0px 10px 1px #CCCCCC;
  -webkit-box-shadow: 0px 0px 10px 1px #CCCCCC;
  -moz-box-shadow: 0px 0px 10px 1px #CCCCCC;
  -o-box-shadow: 0px 0px 10px 1px #CCCCCC;
}

body.users .user-profile aside #personal-info #profile-pic {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}

body.users .user-profile aside #personal-info #profile-pic span {
  width: 100%;
  height: 30px;
  margin-top: 170px;
  display: inline-block;  
  background: rgba(0,0,0,0.5);  
  padding: 5px;  
}

body.users .user-profile aside #personal-info #profile-pic span:hover {
  cursor: default;
}

body.users .user-profile aside #personal-info #profile-pic span img {  
  height: 20px;
  display: inline-block;
  opacity: 0.5;
}

body.users .user-profile aside #personal-info #profile-pic span img:hover {
  cursor: pointer;
  opacity: 1px;
  opacity: 0.9;
}

body.users .user-profile aside #personal-info #profile-pic span h3 {
  display: inline-block;
  text-align: none;
  color: #FFFFFF;
  opacity: 0.5;
  font-family: 'open sans light', "OpenSansLight";
  font-size: 1.3rem;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  line-height: 20px;
  float: right;
}

body.users .user-profile aside #personal-info #profile-pic span h3:hover {
  opacity: 0.9;
}

body.users .user-profile aside #personal-info #profile-info {
  padding: 15px;
  background: #FFFFFF;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
}

body.users .user-profile aside #personal-info #profile-info h1 {
  font-family: 'open sans', "OpenSansRegular";
  font-size: 1.6rem;
  text-align: center;
  color: #444444;
}

body.users .user-profile aside #personal-info #profile-info h2 {
  font-family: 'open sans light', "OpenSansLight";
  font-size: 1.5rem;
  text-align: center;
  color: #555555;
  margin-top: 2px;
}

body.users .user-profile aside #personal-info #profile-info p {
  font-family: 'open sans light', "OpenSansLight";
  font-size: 1.3rem;
  text-align: justify;
  text-indent: 20px;
  color: #555555;
  margin-top: 10px;
  line-height: 2rem;
}

body.users .user-profile aside #contact-me {
  background: #FFFFFF;
  margin-top: 10px;  
  padding: 15px;
}
body.users .user-profile aside #contact-me h1 {
  font-family: 'open sans', "OpenSansRegular";
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}

body.users .user-profile aside #contact-me label {
  font-family: 'open sans light', "OpenSansLight";
  font-size: 1.4rem;
  margin-top: 3px;
  margin-bottom: 3px;
  display: block;
  color: #444444;
}

body.users .user-profile aside #contact-me input[type='submit'] {      
  margin-top: 5px;
  margin-left: 0px;
  display: block;
}

body.users .user-profile aside #contact-me input[type='text'],
body.users .user-profile aside #contact-me textarea {
  width: 100%;
}

body.users .user-profile .projects-container h1{
  width: 95.5%;
  background: rgba(250,250,250,0.5);  
  padding: 10px;
  font-family: 'open sans', "OpenSansRegular";
  font-size: 2rem;
  border-radius: 5px; 
  color: #222222;
  margin-bottom: 20px;
}

body.users .user-profile  .projects-container .project {  
  width: 300px;
  height: 340px;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  vertical-align: top;  
  border:1px solid #AAAAAA;
  box-shadow: 0px 0px 10px 1px #CCCCCC;
  -webkit-box-shadow: 0px 0px 10px 1px #CCCCCC;
  -moz-box-shadow: 0px 0px 10px 1px #CCCCCC;
  -o-box-shadow: 0px 0px 10px 1px #CCCCCC;
  overflow: hidden;
  position: relative;
}

body.users .user-profile .projects-container .project .project-pictures-container {  
  height: 250px;
  width: 1500px;
  border-radius: 5px 5px 0px 0px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;  
}

body.users .user-profile .projects-container .project .project-pictures-container .project-picture {  
  width: 300px;
  height: 100%;
  display: inline-block;
  float: left;
  background-size: cover;
  background-position: center;
  border-radius: 5px 5px 0px 0px;    
}

body.users .user-profile .projects-container .project .circles-container {  
  height: 20px;  
  position: relative;
  top:0px;  
  margin: 0 auto;    
  padding: 5px;
}

body.users .user-profile .projects-container .project .circles-container:hover span {
  opacity: 0.9;
}

body.users .user-profile .projects-container .project .circles-container span {
  border-radius:100px; 
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  display: inline-block;
  float: right;
  margin-right: 5px;
  border: 1px solid #570E0E;
  opacity: 0.2;
}

body.users .user-profile .projects-container .project .circles-container .current {
  background: #570E0E;  
}

body.users .user-profile .projects-container .project .circles-container span:hover {
  cursor: pointer;
  opacity: 0.9;
}

body.users .user-profile .projects-container .project .project-description {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom:0px;
  background: #FFFFFF;
  max-height: 300px;
  overflow: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

body.users .user-profile .projects-container .project .project-description h2 {
  font-family: 'open sans', "OpenSansRegular";
  font-size: 1.6rem;
  color: #333333;
  text-align: center;
  margin-top: 5px;
}

body.users .user-profile .projects-container .project .project-description h3 {
  font-family: 'open sans', "OpenSansRegular";
  font-size: 1.2rem;
  margin-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
  color: #333333;
  text-align: center;
  line-height: 1.5rem;
}

body.users .user-profile .projects-container .project .project-description a {
  text-decoration: none;
  color: #222222;
}

body.users .user-profile .projects-container .project .project-description a:hover {
  color: #000000;
}

body.users .user-profile .projects-container .project .project-description .underline {
  /*text-decoration: underline;*/
}

body.users .user-profile .projects-container .project .project-description .underline:hover {
  text-decoration: underline;
}

body.users .user-profile .projects-container .project .project-description details {
  font-family: 'open sans light', "OpenSansLight";
  font-size: 1.3rem;
  color: #333333;
  text-align: justify;
  margin-top: 10px;  
}

body.users .user-profile .projects-container .project .project-description details summary {
  outline: none;
  max-height: 1.3rem;
  overflow: hidden;
}

body.users .user-update-profile {
  margin: 0px;
  padding: 20px;  
  width: 100%;
  min-height: 700px;   
  position: relative;  
}

body.users .user-update-profile input[type="file"] {    
  visibility: hidden;
  width: 0px;
  height: 0px;
}


body.users .user-update-profile #personal-info-container {
  width: 50%;  
  position: relative;
  display: inline-block;
  left: 0%;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border:1px solid #AAAAAA;
  box-shadow: 0px 0px 10px 1px #CCCCCC;
  -webkit-box-shadow: 0px 0px 10px 1px #CCCCCC;
  -moz-box-shadow: 0px 0px 10px 1px #CCCCCC;
  -o-box-shadow: 0px 0px 10px 1px #CCCCCC;
}

body.users .user-update-profile #personal-info-container h1 {
  font-family: "open sans", "OpenSansRegular";  
  font-size: 1.6rem;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 20px;
}

body.users .user-update-profile #personal-info-container .field {
  width: 100%;
  display: block;
  margin: 0px auto;  
}


body.users .user-update-profile #personal-info-container label {
  font-family: 'open sans', "OpenSansRegular";
  font-size: 1.5rem;  
  width: 30%;  
}

body.users.update_profile input[type="text"], 
body.users.update_profile input[type="url"],
body.users.update_profile input[type="email"],
body.users.update_profile input[type="number"],
body.users.update_profile input[type="date"],
body.users.update_profile select {
  width: 68%;  
}

body.users .user-update-profile aside {
  width: 40%;  
  position: relative;
  display: inline-block;
  vertical-align: top;
  left: 3%;
  border-radius: 5px;
  background: #FFFFFF;
  padding-bottom: 20px;
  border:1px solid #AAAAAA;
  box-shadow: 0px 0px 10px 1px #CCCCCC;
  -webkit-box-shadow: 0px 0px 10px 1px #CCCCCC;
  -moz-box-shadow: 0px 0px 10px 1px #CCCCCC;
  -o-box-shadow: 0px 0px 10px 1px #CCCCCC;
}

body.users .user-update-profile aside #profile-picture {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0px 0px;
}

body.users .user-update-profile aside #new-profile-picture {
  display: block;
  margin: 5px auto;
}

body.users .user-update-profile aside #new-profpic-button-container {
  display: block;  
  width: 145px;
  margin: 3px auto;
  display: none;
}

body.users .create {
  width: 500px;  
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);

}

body.users .create h1 {
  width: 100%;
  font-family: "Open Sans Light", "OpenSansLight";
  font-size: 2rem;
  color: #570E0E;
  margin-bottom: 20px;
  text-align: center;
}

body.users .create .check-list {
  display: inline-block;
  width: 250px;  
}

body.users .create .check-list .item {  
  display: block;    
  padding-top: 2px;
  width: 100%;  
}

body.users .create .check-list .item label {  
  width: 90%;
  color: #555555;
  font-family: "Open Sans", "OpenSansRegular";
  font-size: 1.4rem;
  display: inline;
  vertical-align: top;
  display: inline-block;    
}

body.users .create .check-list .item input[type="checkbox"] {
  vertical-align: top;
}

body.users .create input[type="submit"] {
  margin-left: 155px;
}
